html, body {
  margin: 0;
  font-family: 'Inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
#root{
  height: 100%;
}
code {
  font-family: 'Inter';
}
.topicGuide {
  font-family: 'Inter';
  padding: 33px 16px;
}
.topicGuide div:nth-last-child(1){
  z-index: 9;
}
.topicGuide .tgHeader{
   text-align: left;
   padding: 33px 17px 0;
}
.topicGuide .tgHeader .tgTitle{
  font-weight: 600;
  font-size: 16px;
  color: #202124;
  padding-bottom: 20px;
  margin: 0;
}
.accordion-button:not(.collapsed):after{
  right: -10px;
    position: relative;
}
.topicGuide .tgHeader .tgDesc{
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #202124;
  padding-bottom: 20px;
  margin: 0;
} 
.topicGuide .accordion{
  padding: 0 16px;
}
.topicGuide .accordion .accordion-item{
  border: 1px solid #E4E5E7;
  border-radius: 5px;
  margin-bottom: 5px;
}
.topicGuide .accordion .accordion-item .accordion-header .accordion-button.collapsed:hover{
  background: #F8F9FA;
}
.topicGuide .accordion .accordion-item .accordion-header .accordion-button.collapsed{
  background: #FFFFFF;
   padding: 12px 10px;
   font-weight: 500;
  font-size: 14px;
  color: #202124 !important;
  box-shadow: none;
}
.topicGuide .accordion .accordion-item .accordion-header .accordion-button::after{
  width: 10px;
  height: 10px;
  background-size: 10px;
}
.topicGuide .accordion .accordion-item .accordion-header .accordion-button{
  background: #F8F9FA;
  box-shadow: none;
  color: #202124 !important;
  padding: 12px 10px;
}
.topicGuide .accordion .accordion-item .accordion-header .accordion-button .faqsCount{
  color: #9AA0A6;
  display: inline-block;
  padding-left: 10px;
}
.topicGuide .accordion .accordion-item .accordion-collapse.show{
  background: #F8F9FA
}
.topicGuide .accordion .accordion-item .accordion-collapse.show .accordion-body{
  padding: 11px;
}
.topicGuide .accordion .accordion-item .accordion-collapse .accordion-body .list-group .list-group-item{
  background-color: transparent;
    border: 0px solid rgba(0,0,0,.125);
    padding: 12px 0;
    box-shadow: inset 0px -1px 0px #E4E5E7;
    border-radius: 0;
}
.topicGuide .accordion .accordion-item .accordion-collapse .accordion-body .list-group .list-group-item a{
  font-weight: 400;
font-size: 14px;
color: #202124;
display: flex;
align-items: center;
text-decoration: none;
}
.topicGuide .accordion .accordion-item .accordion-collapse .accordion-body .list-group .list-group-item a .faqQ{
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.topicGuide .accordion .accordion-item .accordion-collapse .accordion-body .list-group .list-group-item a .external-link{
  width: 14px;
  flex-shrink: 0;
} 
.topicGuide .accordion .accordion-item .accordion-collapse.show .card .card-body .card-title{
  font-weight: 500;
  font-size: 14px;
  color: #202124;
  padding-bottom: 5px;
  margin: 0;
}
.topicGuide .accordion .accordion-item .accordion-collapse.show .card .card-body .card-text{
  font-weight: 400;
  font-size: 13px;
  color: #5F6368;
  margin: 0;
  /* padding-bottom: 5px; */
}
.topicGuide .accordion .accordion-item .accordion-collapse .accordion-body .vidoCard {
  background: transparent;
  border: 0;
  width: 100%;
  height: 208px;
}
.topicGuide .accordion .accordion-item .accordion-collapse .accordion-body .vidoCard .vidioIcon{
  min-height: 140px;
  background: #FFFFFF;
  border: 1px solid #BDC1C6;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.topicGuide .accordion .accordion-item .accordion-collapse .accordion-body .vidoCard .card-body{
  padding: 10px 0 0 0;
}
.topicGuide .accordion .accordion-item .accordion-collapse .accordion-body .vidoCard .vidioIcon .card-img-top{
  width: 36px;
  height: 36px;
}
.topicGuide .accordion .accordion-item .accordion-collapse .accordion-body .vContainer{
  display: table;
}
.topicGuide .accordion .accordion-item .accordion-collapse .accordion-body .vContainer .card{
  background: transparent;
  border: 0;
  width: 160.5px;
  height: auto;
  margin: 0 15px 15px 0;
  float: left;
}
.topicGuide .accordion .accordion-item .accordion-collapse .accordion-body .vContainer .card .vidioIcon {
  background: #FFFFFF;
  border: 1px solid #BDC1C6;
  border-radius: 3px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.topicGuide .accordion .accordion-item .accordion-collapse .accordion-body .vContainer .card .vidioIcon .card-img-top{
  width: 36px;
  height: 36px;
}
.topicGuide .accordion .accordion-item .accordion-collapse .accordion-body .vContainer .card:nth-child(2n) {
  margin-right: 0;
}
.topicGuide .accordion .accordion-item .accordion-collapse .accordion-body .vContainer .card .card-body{
  padding: 10px 0 0 0;
}
.topicGuide .accordion .accordion-item .accordion-collapse .accordion-body .vContainer .card .card-body .card-title{
  padding-bottom: 0;
  /* width: 225px; */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.topicGuide .accordion .accordion-item .accordion-collapse .accordion-body .vContainer .card .card-body .card-text{
  /* width: 225px; */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.topicGuide .accordion .docsCard{
  background: #FFFFFF;
  border: 1px solid #E4E5E7;
  border-radius: 5px;
  /* padding: 15px 12px; */
  margin-bottom: 5px;
  cursor: pointer;
}
.topicGuide .accordion .docsCard:hover{
  background: #F8F9FA;
}
.topicGuide .accordion .docsCard .card-body{
  display: flex;
  align-items: center;
  padding: 15px 12px;
  margin-bottom: 5px;
}
.topicGuide .accordion .docsCard .card-body .docIcon{
  width: 78px;
  height:  78px;
  flex-shrink: 0;
}
.topicGuide .accordion .docsCard .card-body .descTitle{
  /* display: flex;
  align-items: center; */
  padding: 0 15px;
  width: 100%;
}
.topicGuide .accordion .docsCard .card-body .descTitle .card-title {
  font-weight: 500;
  font-size: 14px;
  color: #202124;
  padding-bottom: 3px;
  margin-bottom: 0;
}
.topicGuide .accordion .docsCard .card-body .descTitle .card-text {
  font-weight: 400;
  font-size: 13px;
  color: #5F6368;
  padding-bottom: 0;
  margin-bottom: 0;
}
.topicGuide .accordion .docsCard .card-body .ext-icon{
 width: 14px;
 flex-shrink: 0;
}